@model SitioWebColegio.Models.viewModels.AlumnoProfesorAsignaturaViewModel
@{
    ViewBag.Title = "AsignaturaEditarAlumno";
    Layout = "~/Views/Shared/LayoutAdministrador.cshtml";

}

<h2>
    <a style="float: right; color: blue" href="@Url.Content("~/Alumno/AsignaturaAlumno")"><i class="fas fa-arrow-alt-circle-left"></i></a>
</h2>


<div class="text-center justify-content-center m-auto" style="max-width: 50%;">
    <h4>Editar Asignatura Alumno</h4>
    <form action="@Url.Content("~/Alumno/AsignaturaEditarAlumno")" method="post" class="form-control">

        @Html.HiddenFor(d => d.AsignaturaFirst.idAsignatura)

        <div class="form-control">
            <label>Asignatura</label>
            <select name="AsignaturaFirst.nombre" class="form-control">
                <option value="">Seleccione</option>

                @foreach (var omodel in Model.asignaturaList)
                {
                    <option value="@omodel.nombre">@omodel.nombre</option>
                }
            </select>
            @Html.ValidationMessageFor(d => d.AsignaturaFirst.nombre, "", new { @class = "text-danger" })
        </div>

       
        <div class="form-control">
            <label>Profesor</label>
            <select name="AsignaturaFirst.idProfesor" class="form-control">
                <option value="">Seleccione</option>

                @foreach (var omodel in Model.profesorList)
                {
                    <option value="@omodel.idProfesor">@omodel.nombre</option>
                }
            </select>
            @Html.ValidationMessageFor(d => d.AsignaturaFirst.idProfesor, "", new { @class = "text-danger" })

        </div>

        <div class="form-control">
            <label>Alumno</label>
            <select name="AsignaturaFirst.idAlumno" class="form-control">
                <option value="">Seleccione</option>

                @foreach (var omodel in Model.alumnoList)
                {
                    <option value="@omodel.idAlumno">@omodel.nombre</option>
                }
            </select>
            @Html.ValidationMessageFor(d => d.AsignaturaFirst.idAlumno, "", new { @class = "text-danger" })

        </div>

        <div class="text-end float-end">
            <input type="submit" value="Enviar" class="btn btn-success" />
        </div>
    </form>
</div>
