@model SitioWebColegio.Models.viewModels.asignaturaAlumnoViewModel 
@{
    ViewBag.Title = "AsignaturaNuevoAlumno";
    Layout = "~/Views/Shared/LayoutAdministrador.cshtml";

}


<h2>
    <a style="float: right; color: blue" href="@Url.Content("~/Alumno/AsignaturaAlumno")"><i class="fas fa-arrow-alt-circle-left"></i></a>
</h2>

<div class="text-center justify-content-center m-auto" style="max-width: 50%;">
    <h4>Nueva Asignatura Alumno</h4>

    <form action="@Url.Content("~/Alumno/AsignaturaNuevoAlumno")" method="post" class="form-control">

        <div class="form-control">
            <label>Alumno</label>
            <select name="alumnoAsignaturaGuardar.idAlumno" class="form-control">
                <option value="">Seleccione</option>
                @foreach (var omodel in Model.alumnos)
                {
                    <option value="@omodel.idAlumno">@omodel.nombre</option>
                }
            </select>
            @Html.ValidationMessageFor(d => d.alumnoAsignaturaGuardar.idAlumno, "", new { @class = "text-danger" })

        </div>
        <div class="form-control">
            <label>Asignatura</label>
            <select name="alumnoAsignaturaGuardar.idAsignatura" class="form-control">
                <option value="">Seleccione</option>
                @foreach (var omodel in Model.asignaturas)
                {
                    <option value="@omodel.idAsignatura">@omodel.nombre</option>
                }
            </select>
            @Html.ValidationMessageFor(d => d.alumnoAsignaturaGuardar.idAsignatura, "", new { @class = "text-danger" })

        </div>

        <div class="text-end float-end">
            <input type="submit" value="Enviar" class="btn btn-success" />
        </div>
    </form>
</div>
