@model SitioWebColegio.Models.viewModels.alumnoViewModel

@{
    ViewBag.Title = "DetalleProfesor";
    Layout = "~/Views/Shared/LayoutProfesor.cshtml";
}

<h2>
    @if (Session["Administrador"] == null)
    {
        <a style="float: right; color: blue" href="@Url.Content("~/Alumno/CompanerosClase")"><i class="fas fa-arrow-alt-circle-left"></i></a>
    }
    else
    {
        <a style="float: right; color: blue" href="@Url.Content("~/Alumno/TodosAlumnosAdmin")" ><i class="fas fa-arrow-alt-circle-left"></i></a>

        }
        Detalle Alumno
    </h2>

@if (Model.alumno.idAlumno <= 0)
{
    <h3>El ID del Alumno no existe</h3>
}

else
{

    <div class="form-group">
        <label>Nombre: </label>
        @Model.alumno.nombre
    </div>

    <div class="form-group">
        <label>Apellido: </label>
        @Model.alumno.apellido
    </div>

    <div class="form-group">
        <label>Telefono: </label>
        @Model.alumno.telefono
    </div>

    <div class="form-group">
        <label>Asignaturas: </label><br />
        @foreach (var omodel in Model.nombreAsignatura)
        {
            <ul style="margin-left: 30px;">
                <li>  @omodel </li>
            </ul>
        }
    </div>
    <br />
}