@model SitioWebColegio.Models.viewModels.AlumnoProfesorAsignaturaViewModel
@{
    ViewBag.Title = "Administrador";
    Layout = "~/Views/Shared/LayoutAdministrador.cshtml";
}

<h2>Asignatura Profesores</h2>
<a class="btn btn-success" href="@Url.Content("~/Profesor/AsignaturaNuevo")">Nuevo</a>


@if (ViewBag.mensajeEliminar != null)
{
    <div class="alert alert-danger text-center" style="height: 65px;" role="alert">
        <p>@ViewBag.mensajeEliminar</p>
    </div>
}



<div>
    <table class="table table-bordered table-hover" style="width: 100%">
        <thead>
            <tr>
                <th>#</th>
                <th>Nombre</th>
                <th>Id Profesor</th>
                <th>Id Alumno</th>
                <th>Acciones</th>

            </tr>
        </thead>
        <tbody>

            @foreach (var omodel in Model.asignaturaList)
            {

                <tr>
                    <td>@omodel.idAsignatura</td>
                    <td>@omodel.nombre</td>
                    <td>@omodel.idProfesor</td>
                    <td>@omodel.idAlumno</td>
                    <td>
                        <a href="@Url.Content("~/Profesor/AsignaturaEditar?Id=") + @omodel.idProfesor" class="btn btn-outline-warning" name="Editar"><i class="fas fa-user-edit"></i></a>
                        <a onclick="return jsEliminar();" href="@Url.Content("~/Profesor/AsignaturaEliminar?Id=") + @omodel.idAsignatura" class="btn btn-outline-danger" name="Elimninar"><i class="fas fa-user-times"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


<script>

    function jsEliminar() {
        return confirm("Estas Seguro que deseas eliminar este registro?");
    }

</script>