@model IEnumerable<SitioWebColegio.Models.Asignatura>


@{
    ViewBag.Title = "Asignatura profesor";
    Layout = "~/Views/Shared/LayoutAdministrador.cshtml";
}

<h4 class="text-center">Asignaturas Profesores</h4>
<a class="btn" style="background-color: #5dc460; color: white" href="@Url.Content("~/Profesor/AsignaturaNuevo")">Nuevo</a>

<h2>


    <a style="float: right; color: blue;" href="@Url.Content("~/Profesor/IndexAdmin")"><i style="font-size: 30px;" class="fas fa-arrow-alt-circle-left"></i></a>


</h2>

<style>
    .fas {
        font-size: 18px;
    }

    .dataTables_filter {
        float: left !important;
    }
</style>

@if (ViewBag.mensajeEliminar != null)
{
    <div class="alert alert-danger text-center" style="height: 65px;" role="alert">
        <p>@ViewBag.mensajeEliminar</p>
    </div>
}


    <table class="table table-bordered table-hover w-100" id="datatable">
        <tr>
            <th>
                Nombre Asignatura
            </th>
            <th>
                Nombre Profesor
            </th>
            <th>Acciones</th>

        </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Profesor.nombre)
                    </td>
                    <td>
                        <a class='btn btn-warning' href='@Url.Content("~/Profesor/AsignaturaEditar?Id=") + @item.idAsignatura ' )><i class='fa fa-pencil'></i> Editar</a>
                        <a class='btn btn-danger' style='margin-left:5px' onclick='return jsEliminar();' href='@Url.Content("~/Profesor/AsignaturaEliminar?Id=") + @item.idAsignatura ' )><i class='fa fa-trash'></i> Eliminar</a>
                    </td>
                </tr>
            }

        </table>


<script>
    function jsEliminar() {
        return confirm("Estas Seguro que deseas eliminar este registro?");
    }
</script>