@model List<SitioWebColegio.Models.viewModels.asignaturaViewModel>

@{
    ViewBag.Title = "Asignatura profesor";
    Layout = "~/Views/Shared/LayoutAdministrador.cshtml";
}

<h4 class="text-center">Asignaturas Profesores</h4>
<a class="btn btn-success" href="@Url.Content("~/Profesor/AsignaturaNuevo")">Nuevo</a>

<h2>
   
    
        <a style="float: right; color: blue;" href="@Url.Content("~/Profesor/IndexAdmin")"><i style="font-size: 30px;" class="fas fa-arrow-alt-circle-left"></i></a>


</h2>

<style>
    .fas {
        font-size: 18px;
    }

    .dataTables_filter {
        float: left !important;
    }
</style>

@if (ViewBag.mensajeEliminar != null)
{
    <div class="alert alert-danger text-center" style="height: 65px;" role="alert">
        <p>@ViewBag.mensajeEliminar</p>
    </div>
}


<div>
    <table class="table table-bordered table-hover w-100" id="datatable">
        <thead>
            <tr>
                <th>#</th>
                <th>Nombre</th>
                <th>Id Profesor</th>
                <th>Id Alumno</th>
                <th>Acciones</th>

            </tr>
        </thead>
    </table>
</div>

<link href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

@section scripts{
    <script src="//cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap.min.js"></script>
    <script>
        var dataTable;
        $(document).ready(function () {
            dataTable = $("#datatable").DataTable({
                "ajax": {
                    "url": "/Profesor/GetDataProfesoresAsignaturas",
                    "type": "GET",
                    "datatype": "json"
                },
                "columns": [
                    { "data": "idAsignatura" },
                    { "data": "nombre" },
                    { "data": "idProfesor" },
                    { "data": "idAlumno" },

                    {
                        "data": "idAsignatura", "render": function (data) {
                            return "<a class='btn btn-warning' href='@Url.Content("~/Profesor/AsignaturaEditar?Id=")" + data + "')><i class='fa fa-pencil'></i> Editar</a><a class='btn btn-danger' style='margin-left:5px' onclick='return jsEliminar();' href='@Url.Content("~/Profesor/AsignaturaEliminar?Id=")" + data + "')><i class='fa fa-trash'></i> Eliminar</a>";
                        },


                        "searchable":false,
                        "width":"150px"
                    }

                ],
                "language": {

                    "emptyTable" : "No tiene Datos, porfavor presecione click en <b>Nuevo</b> Button"
                }
            });
        });

    function jsEliminar() {
        return confirm("Estas Seguro que deseas eliminar este registro?");
    }
    </script>
}