@model SitioWebColegio.Models.viewModels.ProfesorAsignaturaViewModel

@{
    ViewBag.Title = "DetalleProfesorAlumno";
    Layout = "~/Views/Shared/LayoutAlumno.cshtml";
}

<section style="margin-top: 110px;"></section>

<h4>Detalle Profesor Alumno</h4>


<h2>
    @if (Session["Administrador"] == null)
    {
        <a style="float: right; color: blue" href="@Url.Content("~/Profesor/IndexProfesores")"><i class="fas fa-arrow-alt-circle-left"></i></a>
    }
    else
    {
        <a style="float: right; color: blue" href="@Url.Content("~/Profesor/IndexAdmin")"><i class="fas fa-arrow-alt-circle-left"></i></a>

    }
</h2>

@if (Model.profesorone.idProfesor <= 0)
{
    <h3>El ID del Profesor no existe</h3>
}

else
{
    <div class="form-group">
        <label>#: </label>
        @Model.profesorone.idProfesor
    </div>

    <div class="form-group">
        <label>Nombre: </label>
        @Model.profesorone.nombre
    </div>

    <div class="form-group">
        <label>Apellido: </label>
        @Model.profesorone.apellido
    </div>

    <div class="form-group">
        <label>Especialidad: </label>
        @Model.profesorone.especialidad
    </div>

    <div class="form-group">
        <label>Asignatura: </label><br />
        @Model.asignatura.nombre
    </div>
    <br />



}