@model SitioWebColegio.Models.viewModels.ProfesorAsignaturaViewModel

@{
    ViewBag.Title = "DetalleProfesor";
    Layout = "~/Views/Shared/LayoutProfesor.cshtml";
}

<h2>
    @if (Session["Administrador"] == null)
    {
        <a style="float: right; color: blue" href="@Url.Content("~/Profesor/IndexProfesores")"><i class="fas fa-arrow-alt-circle-left"></i></a>
    }
    else
    {
        <a style="float: right; color: blue" href="@Url.Content("~/Profesor/IndexAdmin")"><i class="fas fa-arrow-alt-circle-left"></i></a>

    }
    Detalle Profesor
</h2>

@if (Model.profesorone.idProfesor <= 0 )
{
    <h3>El ID del Profesor no existe</h3>
}

else
{

    <div class="form-group">
        <label>Nombre: </label>
        @Model.profesorone.nombre
    </div>

    <div class="form-group">
        <label>Apellido: </label>
        @Model.profesorone.apellido

    </div>

    <div class="form-group">
        <label>Especialidad: </label>
        @Model.profesorone.especialidad

    </div>

    <div class="form-group">
        <label>Asignaturas: </label><br />
        @foreach(var omodel in Model.nombreAsignatura)
        {
    <ul style="margin-left: 30px;">
        <li>  @omodel </li>
    </ul>
        }
    </div>
    <br />

   

}