@model List<SitioWebColegio.Models.viewModels.profesorViewModel>
@{
    ViewBag.Title = "Administrador";
    Layout = "~/Views/Shared/LayoutAdministrador.cshtml";
}

<h3>Admin sesion de Profesores</h3>

@if (ViewBag.mensajeEliminar != null)
{
    <div class="alert alert-danger text-center" style="height: 65px;" role="alert">
        <p>@ViewBag.mensajeEliminar</p>
    </div>
}



<div style="max-width: 95%">
    <a class="btn btn-success" href="@Url.Content("~/Profesor/Nuevo")">Nuevo</a>
    <a class="btn btn-outline-info float-end" href="@Url.Content("~/Profesor/Asignatura")">Asignatura</a>

    <table class="table table-bordered table-hover" style="width: 100%">
        <thead>
            <tr>
                <th>#</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Especialidad</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var omodel in Model)
            {

                <tr>
                    <td>@omodel.idProfesor</td>
                    <td>@omodel.nombre</td>
                    <td>@omodel.apellido</td>
                    <td>@omodel.especialidad</td>
                    <td>
                        <a href="@Url.Content("~/Profesor/DetalleProfesor?Id=") + @omodel.idProfesor" class="btn btn-outline-primary" name="Ver mas"><i class="fas fa-plus-circle"></i></a>
                        <a href="@Url.Content("~/Profesor/Editar?Id=") + @omodel.idProfesor" class="btn btn-outline-warning" name="Editar"><i class="fas fa-user-edit"></i></a>
                        <a onclick="return jsEliminar();" href="@Url.Content("~/Profesor/Eliminar?Id=") + @omodel.idProfesor" class="btn btn-outline-danger" name="Elimninar"><i class="fas fa-user-times"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


<script>

    function jsEliminar() {
        return confirm("Estas Seguro que deseas eliminar este registro?");
    }

</script>