@model SitioWebColegio.Models.viewModels.profesorViewModel
@{
    ViewBag.Title = "Nuevo";
    Layout = "~/Views/Shared/LayoutAdministrador.cshtml";

}

<h2>
    <a style="float: right; color: blue" href="@Url.Content("~/Profesor/IndexAdmin")"><i class="fas fa-arrow-alt-circle-left"></i></a>
</h2>


<div class="text-center justify-content-center m-auto" style="max-width: 50%;">
    <h4>Nuevo Profesor</h4>

    <form action="@Url.Content("~/Profesor/Nuevo")" method="post" class="form-control">
        <div class="form-control">
            <label for="nombre">Nombre</label>
            @Html.TextBoxFor(d => d.nombre, "", new { @class = "form-control" })
            @Html.ValidationMessageFor(d => d.nombre, "", new { @class = "text-danger" })

        </div>
        <div class="form-control">
            <label for="apellido">Apellido</label>
            @Html.TextBoxFor(d => d.apellido, "", new { @class = "form-control" })
        </div>
        <div class="form-control">
            <label for="nombreusuario">Nombre de Usuario</label>
            @Html.TextBoxFor(d => d.nombreUsuario, "", new { @class = "form-control" })
            @Html.ValidationMessageFor(d => d.nombreUsuario, "", new { @class = "text-danger" })

        </div>
        <div class="form-control">
            <label for="clave">Clave</label>
            <input type="password" name="clave" class="form-control" />
            @Html.ValidationMessageFor(d => d.clave, "", new { @class = "text-danger" })

        </div>
        <div class="form-control">
            <label for="especialidad">Especialidad</label>
            @Html.TextBoxFor(d => d.especialidad, "", new { @class = "form-control" })
            @Html.ValidationMessageFor(d => d.especialidad, "", new { @class = "text-danger" })

        </div>
      
        <div class="text-end float-end">
            <input type="submit" value="Enviar" class="btn btn-outline-success" />
        </div>
    </form>
</div>
