<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title </title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link rel="shortcut icon" href="~/img/Emma.ico" />
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">

</head>
<body>

    <nav class="navselection navbar navbar-expand-xl navbar-dark bg-primary fixed-top ">
        <div class="container-fluid">
            <a class="navbar-brand" href="@Url.Content("~/Home/Index")"><img style="height: 60px; width: 60px;" src="~/img/Em.png" /> Escuela Emma Balaguer Vallejo</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse " id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link active" href="@Url.Content("~/Home/Index")">Inicio</a></li>
                    <li class="nav-item"><a class="nav-link active" href="@Url.Content("~/Home/QuienesSomos")">Quienes Somos</a></li>
                    <li class="nav-item"><a class="nav-link active" href="@Url.Content("~/Home/Contacto")">Contacto</a></li>

                    @if (Session["Administrador"] == null && Session["Profesor"] == null && Session["Alumno"] == null)
                    {
                <li class="nav-item"><a class="nav-link active" href="@Url.Content("~/Acceso/Login")">Iniciar Sesion</a></li>}

                    @if (Session["userTitulo"] != null)
                    {
                        if (Session["Administrador"] != null)
                        {
                <li class="nav-item"><a class="nav-link active" href="@Url.Content("~/Administrador/Index")"><i class="fas fa-user"></i>Bienvenido @Session["userTitulo"]</a></li> }
                                if (Session["Profesor"] != null)
                                {
                <li class="nav-item"><a class="nav-link active" href="@Url.Content("~/Profesor/IndexProfesores")"><i class="fas fa-user"></i>Bienvenido @Session["userTitulo"]</a></li> }
                                if (Session["Alumno"] != null)
                                {
                <li class="nav-item"><a class="nav-link active" href="@Url.Content("~/Alumno/TodosAlumnos")"><i class="fas fa-user"></i>Bienvenido @Session["userTitulo"]</a></li>}
                            }

                    @if (!(Session["Administrador"] == null && Session["Profesor"] == null && Session["Alumno"] == null))
                    {
                <li class="nav-item"><a class="nav-link active" href="@Url.Content("~/Acceso/Logof")">Cerrar sesion</a></li>}
                </ul>
            </div>
        </div>
    </nav>


    <div class="container body-content">
        @RenderBody()


        <footer id="footer">
            <div class="container" style="background: #093BA3;">

                <div class="row">
                    <div class="col-12 col-lg" style="text-align: center; padding-top: 15px; padding-bottom: 15px;">
                        <a class="link" href="https://www.facebook.com/emma.balaguer.9" target="_blank"><i class="face fab fa-facebook"></i></a>
                    </div>

                    <div class="col-12 col-lg" style="text-align: center; padding-top: 15px; padding-bottom: 15px;">
                        <a href="https://www.instagram.com/centroemmabalaguer/" target="_blank"><i class="ig fab fa-instagram"></i></a>
                    </div>

                    <div class="col-12 col-lg" style="text-align: center; padding-top: 15px; padding-bottom: 15px;">
                        <a href="https://wa.me/18294215051" target="_blank"><i class="ws fab fa-whatsapp"></i></a>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <div id="copyright" style="color:white; text-align: center;">Copyright&copy; 2021 - Centro Emma Balaguer de Vallejo - Todos los derechos reservados</div>
                    </div>
                </div>

            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    <script src="~/Scripts/bootstrap.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
