<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title </title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link rel="shortcut icon" href="~/img/Emma.ico" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <style>

        .navselection {
            margin-top: 0;
        }

        body {
            align-items: center;
            padding-top: 20px;
            padding-bottom: 40px;
            background-size: cover;
            background-repeat: no-repeat;
            opacity: 1;
        }

        .form-signin {
            opacity: 1;
            width: 100%;
            max-width: 330px;
            padding: 15px;
            margin: auto;
        }


            .form-signin .form-floating:focus-within {
                z-index: 2;
            }

            .form-signin input[type="email"] {
                margin-bottom: -1px;
                border-bottom-right-radius: 0;
                border-bottom-left-radius: 0;
            }

            .form-signin input[type="password"] {
                margin-bottom: 10px;
                border-top-left-radius: 0;
                border-top-right-radius: 0;
            }
    </style>
</head>
<body style="background-image: url('@Url.Content("~/Imagenes/bgLogin2.jpg")')">

    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top" style="height: 70px">
        <div class="container-fluid">
            <a class="navbar-brand" href="@Url.Content("~/Home/Index")"><img style="height: 60px; width: 60px;" src="~/img/Em.png" /> Escuela Emma Balaguer Vallejo</a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item"><a class="nav-link active" href="@Url.Content("~/Home/Index")">Inicio</a></li>
                    <li class="nav-item"><a class="nav-link active" href="@Url.Content("~/Home/QuienesSomos")">Quienes Somos</a></li>
                    <li class="nav-item"><a class="nav-link active" href="@Url.Content("~/Home/Contacto")">Contacto</a></li>

                    
                    @if (Session["userTitulo"] != null)
                    {
                        if (Session["Administrador"] != null)
                        {
        <li class="nav-item"><a class="nav-link active" href="@Url.Content("~/Administrador/Index")"><i class="fas fa-user"></i>Bienvenido/a @Session["userTitulo"]</a></li> }
                        if (Session["Profesor"] != null)
                        {
        <li class="nav-item"><a class="nav-link active" href="@Url.Content("~/Profesor/IndexProfesores")"><i class="fas fa-user"></i>Bienvenido/a @Session["userTitulo"]</a></li> }
                        if (Session["Alumno"] != null)
                        {
        <li class="nav-item"><a class="nav-link active" href="@Url.Content("~/Alumno/TodosAlumnos")"><i class="fas fa-user"></i>Bienvenido/a @Session["userTitulo"]</a></li>}
                    }

                    </ul>

            </div>
        </div>
    </nav>

     <div class="container body-content" style="margin-top: 70px;">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    <script src="~/Scripts/bootstrap.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
