<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <style>

        .navselection{
            margin-top: 0;
        }

        body {
            align-items: center;
            padding-top: 20px;
            padding-bottom: 40px;
            background-image: url("@Url.Content("~/Imagenes/bgLogin.jpg")");
            background-size: cover;
            background-repeat: no-repeat;
            opacity: 1;
        }

        .form-signin {
            opacity: 1;
            width: 100%;
            max-width: 330px;
            padding: 15px;
            margin: auto;
        }


            .form-signin .form-floating:focus-within {
                z-index: 2;
            }

            .form-signin input[type="email"] {
                margin-bottom: -1px;
                border-bottom-right-radius: 0;
                border-bottom-left-radius: 0;
            }

            .form-signin input[type="password"] {
                margin-bottom: 10px;
                border-top-left-radius: 0;
                border-top-right-radius: 0;
            }
    </style>
</head>
<body>
    <nav class="navselection navbar navbar-expand-xl navbar-dark bg-primary">
        <div class="container-fluid">
            @Html.ActionLink("Escuela Emma Balaguer Vallejo", "Login", "Acceso", new { area = "" }, new { @class = "navbar-brand" })
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse " id="navbarSupportedContent">
                <ul class="navbar-nav m-auto">
                    <li class="nav-item"></li>
                    <li class="nav-item"></li>
                    <li class="nav-item"></li>
                   
                </ul>
            </div>
            </div>
</nav>


    <div class="container body-content">
        @RenderBody()

        <footer>
            <hr />
            <p>&copy; @DateTime.Now.Year - Escuela Emma Balaguer Vallejo</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    <script src="~/Scripts/bootstrap.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
