@model List<SitioWebColegio.Models.viewModels.administradorViewModel>
@{
    ViewBag.Title = "Administrador";
    Layout = "~/Views/Shared/LayoutAdministrador.cshtml";
}

<h2>Bienvenido Administrador</h2>
@if (ViewBag.mensajeEliminar != null)
{
    <div class="alert alert-danger text-center" style="height: 65px;" role="alert">
        <p>@ViewBag.mensajeEliminar</p>
    </div>
}

<a class="btn btn-success" href="@Url.Content("~/Administrador/Nuevo")">Nuevo</a>

<div>
    <table class="table table-bordered table-hover" style="width: 100%">
        <thead>
            <tr>
                <th>#</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Nombre Usuario</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var omodel in Model)
            {

                <tr>
                    <td>@omodel.idAdmin</td>
                    <td>@omodel.nombre</td>
                    <td>@omodel.apellido</td>
                    <td>@omodel.nombreusuario</td>
                    <td>
                        <a class="btn btn-warning" href="@Url.Content("~/Administrador/Editar?Id=")+ @omodel.idAdmin">Editar</a>
                        <a class="btn btn-danger" onclick="return jsEliminar();" href="@Url.Content("~/Administrador/Eliminar?Id=")+ @omodel.idAdmin">Eliminar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


<script>

    function jsEliminar() {
        return confirm("Estas Seguro que deseas eliminar este registro?");
    }

</script>